/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define GAME    1
#define LOWER   2
#define RAISE   3
#define ADJUST  4


&lt {
	quick-tap-ms = <200>;	
};

&mt {
	quick-tap-ms = <200>;	
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick_tap_ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    	gresc: grave_escape {
    	    compatible = "zmk,behavior-mod-morph";
    	    label = "GRAVE_ESCAPE";
    	    #binding-cells = <0>;
    	    bindings = <&kp ESC>, <&kp GRAVE>;
    	    mods = <(MOD_LALT|MOD_LSFT|MOD_RALT|MOD_RSFT)>;
    	};
        hold_tog: behavior_mo_tog {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TOG";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&tog>;
        };
    };



	keymap {
		compatible = "zmk,keymap";

		default_layer {
// -----------------------------------------------------------------------------------------------------------------
// | `/ESC |  Q  |  W  |  E  |  R   |  T   |                   |  Y   	    |  U    |  I    |  O   |   P   |  BSPC  |
// |CTRL/TAB| A  |  S  |  D  |  F   |  G   |                   |  H         |  J    |  K    |  L   |   ;   |   '    |
// | SHIFT |  Z  |  X  |  C  |  V   |  B   |                   |  N   	    |  M    |  ,    |  .   |   /   |\/ADJUST|
//                           | GUI  |LOW/ESC| ENTER |  | SPACE | RAISE/BSPC |ALT/GAME|
			bindings = <
&gresc        &kp Q       &kp W       &kp E    	    &kp R    	    &kp T       &kp Y  	    &kp U    	    &kp I     	&kp O       &kp P    	  &kp BSPC
&hm LCTRL TAB &hm LGUI A  &hm LALT S  &hm LCTRL D   &hm LSHFT F	    &kp G       &kp H  	    &hm RSHFT J     &hm RCTRL K	&hm LALT L  &hm LGUI SEMI &kp SQT
&kp LSHFT     &kp Z  	  &kp X       &kp C    	    &kp V    	    &kp B 	&kp N  	    &kp M    	    &kp COMMA 	&kp DOT     &kp FSLH 	  &lt ADJUST BSLH
                  		      &kp LGUI 	    &lt LOWER ESC   &kp RET	&kp SPACE   &lt RAISE BSPC  &hold_tog RALT GAME
			>;
		};
		
		game_layer {
// Drops the home row mods so you can WASD
// -----------------------------------------------------------------------------------------------------------------
// | `/ESC |  Q  |  W  |  E  |  R   |  T   |                   |  Y   	    |  U    |  I    |  O   |   P   |  BSPC  |
// |CTRL/TAB| A  |  S  |  D  |  F   |  G   |                   |  H 	    |  J    |  K    |  L   |   ;   |   '    |
// | SHIFT |  Z  |  X  |  C  |  V   |  B   |                   |  N   	    |  M    |  ,    |  .   |   /   |\/ADJUST|
//                           | GUI  |LOW/ESC| ENTER |  | SPACE | RAISE/BSPC |ALT/GAME|
			bindings = <
&trans	&trans  &trans	&trans	     &trans 	  &trans              &trans  	&trans    &trans    &trans    &trans    &trans
&trans	&kp A  	&kp S  	&kp D	     &kp F  	  &trans              &trans  	&kp J 	  &kp K	    &kp L     &kp SEMI  &trans
&trans	&trans  &trans	&trans	     &trans 	  &trans              &trans  	&trans    &trans    &trans    &trans    &trans
                        &trans 	     &trans       &trans	      &trans    &trans    &hold_tog RALT GAME
			>;
		};

		lower_layer {
// ------------------------------------------------------------------------------------------------------
// |    |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |  8  |  9   |   0   |  DEL  |
// |    |  !  |  @  |  #   |  $   |  %   |                   |  <-  |   v   |  ^  |  ->  |       |       |
// |    |  ^  |  &  |  *   |  (   |  )   |                   | <<-  |  vv   |  ^^ |  ->> |       | PTSCN |
//                         |      |      |        |  |       |  DEL |       |
			bindings = <
&kp GRAVE &kp N1    	 &kp N2       &kp N3  	      &kp N4      	&kp N5       &kp N6    &kp N7          &kp N8        &kp N9    	    &kp N0  &kp DEL
&trans	  &hm LGUI EXCL  &hm LALT AT  &hm LCTRL HASH  &hm LSHFT DOLLAR  &kp PRCNT    &kp LEFT  &hm RSHFT DOWN  &hm RCTRL UP  &hm LALT RIGHT &trans  &trans
&trans    &kp CARET 	 &kp AMPS     &kp STAR	      &kp LPAR    	&kp RPAR     &kp HOME  &kp PG_DN       &kp PG_UP     &kp END   	    &trans  &kp PRINTSCREEN
                     	      	      &trans          &trans      	&trans       &trans    &kp DEL         &trans
			>;
		};

		raise_layer {
// ---------------------------------------------------------------------------------------------------------------
// |  `    |   1   |   2    |   3   |   4  |   5  |  		    	|   6  |   7   |   8   |   9  |   0   |       |
// |       |       |        |   -  |   _   |   [  |                 |  <-  |   v   |   ^   |  ->  |       |       |
// |       |       |        |   =  |   +   |   ]  |      	        | <<-  |  vv   |  ^^   |  ->> |       |       |
//                          |       |      |      |      |  |       |      |       |       |
			bindings = <
&kp GRAVE &kp N1  &kp N2    &kp N3           &kp N4           &kp N5	   &kp N6     &kp N7          &kp N8        &kp N9    	    &kp N0  &trans
&trans    &trans  &trans    &hm LCTRL MINUS  &hm LSHFT UNDER  &kp LBKT 	   &kp LEFT   &hm RSHFT DOWN  &hm RCTRL UP  &hm LALT RIGHT  &trans  &trans
&trans	  &trans  &trans    &kp EQUAL        &kp PLUS         &kp RBKT     &kp HOME   &kp PG_DN       &kp PG_UP     &kp END         &trans  &trans
                            &trans           &trans           &trans       &trans     &trans          &trans
			>;
		};

		adjust_layer {
// ---------------------------------------------------------------------------------------------------------------
// | Mute  |  F1   |  F2    |  F3   |  F4  |  F5  |  	    	    |  F6  |  F7   |  F8   |  F9  |  F10  |  F11  |
// | VolU  |  BriU | MPlay  | MNext |      |      |                 |BTCLR |  BT1  |  BT2  |  BT3 |  BT4  |  BT5  |
// | VolD  |  BRiD | MStop  | MPrev |      |      |                 | EPON | EPOFF | EPTOG | USB  |  BLE  |		  |
//                                  |      |      |      |  |       |      | OUTTOG|
			bindings = <
&kp C_MUTE    &kp F1       &kp F2     	&kp F3       &kp F4     &kp F5     &kp F6            &kp F7   	       &kp F8       	  &kp F9       &kp F10      &kp F11
&kp C_VOL_UP  &kp C_BRI_UP &kp C_PP 	&kp C_NEXT   &trans	&trans	   &bt BT_CLR        &bt BT_SEL 0      &bt BT_SEL 1 	  &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4
&kp C_VOL_DN  &kp C_BRI_DN &kp C_STOP 	&kp C_PREV   &trans 	&trans	   &ext_power EP_ON  &ext_power EP_OFF &ext_power EP_TOG  &out OUT_USB &out OUT_BLE &trans
                                        &trans       &trans     &trans     &trans      	     &trans    	       &out OUT_TOG
			>;
		};
	};
};
