/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define GAME    1
#define LOWER   2
#define RAISE   3
#define ADJUST  4


&lt {
	quick-tap-ms = <200>;	
};

&mt {
	quick-tap-ms = <200>;	
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick_tap_ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        hold_tog: behavior_mo_tog {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TOG";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&tog>;
        };
    };


        keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
&kp Q  	    &kp W  	&kp E        &kp R    	   &kp T        &kp Y  	    &kp U    	    &kp I     	&kp O       &kp P    	 
&hm LGUI A  &hm LALT S  &hm LCTRL D  &hm LSHFT F   &kp G        &kp H  	    &hm RSHFT J     &hm RCTRL K	&hm LALT L  &hm LGUI SEMI
&kp Z  	    &kp X  	&kp C        &kp V    	   &kp B 	&kp N  	    &kp M    	    &kp COMMA 	&kp DOT     &lt ADJUST FSLH 	 
                  		     &lt LOWER ESC &kp RET	&kp SPACE   &lt RAISE BSPC 
			>;
		};
		
		game_layer {
// Drops the home row mods so you can WASD
			bindings = <
&trans  &trans	&trans	     &trans 	  &trans              &trans  	&trans    &trans    &trans    &trans  
&kp A  	&kp S  	&kp D	     &kp F  	  &trans              &trans  	&kp J 	  &kp K	    &kp L     &kp SEMI
&trans  &trans	&trans	     &trans 	  &trans              &trans  	&trans    &trans    &trans    &trans  
                             &trans       &trans	      &trans    &trans
			>;
		};

		lower_layer {
			bindings = <
&kp N1         &kp N2       &kp N3  	    &kp N4            &kp N5       &kp N6    &kp N7    	     &kp N8    	   &kp N9	   &kp N0
&hm LGUI EXCL  &hm LALT AT  &hm LCTRL HASH  &hm LSHFT DOLLAR  &kp PRCNT    &kp LEFT  &hm RSHFT DOWN  &hm RCTRL UP  &hm LALT RIGHT  &hm RGUI SQT  
&kp CARET      &kp AMPS     &kp STAR	    &kp LPAR          &kp RPAR     &kp HOME  &kp PG_DN 	     &kp PG_UP     &kp END	   &kp BSLH
                     	      		    &trans	      &trans       &trans    &kp DEL
			>;
		};

		raise_layer {
			bindings = <
&kp N1         &kp N2    &kp N3      	  &kp N4      	   &kp N5	&kp N6	  &kp N7    	  &kp N8    	&kp N9          &kp N0
&hm LGUI TAB   &trans    &hm LCTRL MINUS  &hm LSHFT UNDER  &kp LBKT 	&kp LEFT  &hm RSHFT DOWN  &hm RCTRL UP  &hm LALT RIGHT	&trans
&kp GRAVE      &trans    &kp EQUAL   	  &kp PLUS    	   &kp RBKT     &kp HOME  &kp PG_DN 	  &kp PG_UP 	&kp END		&trans
                	      		  &trans	   &trans       &trans    &trans
			>;
		};

		adjust_layer {
			bindings = <
&kp F1       &kp F2       &kp F3       &kp F4     &kp F5       &kp F6       &kp F7	       &kp F8       &kp F9       	&kp F10      
&trans 	     &kp C_VOL_UP &kp C_BRI_UP &kp C_PP   &kp C_NEXT   &bt BT_SEL 0 &bt BT_SEL 1       &bt BT_SEL 2 &bt BT_SEL 3 	&bt BT_SEL 4 
&kp C_MUTE   &kp C_VOL_DN &kp C_BRI_DN &kp C_STOP &kp C_PREV   &bt BT_CLR   &ext_power EP_TOG  &out OUT_TOG &kp PRINTSCREEN	&trans
                        	       &trans  	  &trans       &trans	    &tog GAME
			>;
		};
        
	};
};

